<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>19/02/22 15:33:47</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC008_CreateLead.setData()[pri:0, instance:bl.framework.testcases.TC008_CreateLead@5abca1e0]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/02/22 15:33:47</td>   <td>-502</td> <td title="&gt;&gt;AdvanceReports.startReport()[pri:0, instance:bl.framework.testcases.TC008_CreateLead@5abca1e0]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
</table>
