<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>19/02/09 11:51:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@3327bd23]">createLead</td> 
  <td>TestNG-test=Test-1@2075867611</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/09 11:51:26</td>   <td>-826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_DuplicateLead.duplicateLead()[pri:0, instance:bl.framework.testcases.TC003_DuplicateLead@4e1d422d]">duplicateLead</td> 
  <td>TestNG-test=Test-2@1042166924</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/02/09 11:51:05</td>   <td>-21609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC003_DuplicateLead@4e1d422d]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@1042166924</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/02/09 11:51:05</td>   <td>-21609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@3327bd23]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@2075867611</td>   <td></td> </tr>
</table>
